[Desktop Entry]
Version=1.0
Type=Application
Categories=Education;Languages;
Terminal=false
Icon=qword
Exec=QWord
Name=QWord (learning foreign words)

