[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Education;Languages;
Terminal=false
Icon=/usr/local/share/QWord/test1.svg
Exec=QWord
Name=QWord (learning foreign words)

